@import "materialize";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_tree .
 *= require_self
 */
#prof_pic {
    height: 150px;
    width: 150px;
    margin: 50px auto auto;
    border: 1px solid;
}
#user_show_cont {
    width: 100%;
}
#forms {
    .container {
        margin-top: 10%;
    }
}

#searchpage{
  margin-left: 400px;
}

#test_show{
  margin-left: 400px;
  margin-top: 100px
}
.profile_pic img {
  margin-top: 17%;
    height: 150px;
    width: 150px;
}
.card-image img{
  -webkit-filter: brightness(60%);
}

#title_text{
  color: #579FE3;
}

.jumbotron {
  background-image: url('http://i.giphy.com/SotJCbDWOnnWM.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  margin-top: -20px;
  margin-bottom: -20px;

}

.container-index{
  display: block;
}


.welcome_message{
  // positioning
  line-height: 100px;
  margin-top: 300px;


  // font
  color: rgba(255,255,255,0.8) !important;
  font-weight: bold;
  font-size: 6vw;
  text-align: center;
  font-family: "Muli", sans-serif !important;;

  //border
  background-color: rgba(87, 159, 227, 0.6);
  border-radius: 10px;
  border: 1px solid #579FE3;
}
