<div id="tm" class="container">
    <% @testimonies.each do |t| %>
    <div class="col-lg-12 col-sm-6 col-xs-12 card">
        <div class="test_title">
            <a href="user_path"><img id="avi" src="<%= t.user.avatar %>" class="img-thumbnail center-block img-responsive"></a>
            <center>
                <h4><%= t.title %></h2>
                <div id="test_verse" class="test_verse light-blue lighten-5">
                    <p><%= t.verse %></p>
                </div>
                <br>
            </center>
        </div>
    </div>
    <% end %>
