<br>
<br>
<br>
<% @testimonies.each do |t| %>
          <div id="tm" class="col-lg-6 col-sm-6 col-xs-12 card">

              <div class="test_title">
                <h4><%= t.title %></h2>
                <div id="test_verse" class="test_verse">
                  <p><%= t.verse %></p>
                </div>
              </div>
          </div>
        <% end %>
